
:root:root {
    --van-background: #E6E6E6;
    --van-text-color: #323233;
    --van-background-2: #FFFFFF;
    --van-background-3: #FFFFFF;
    --van-text-color-2: #000000;
    --van-text-color-3: #000000;

    --box-shadow-top: #FFFFFF19;
    --box-shadow-bottom: #00000033;
    --box-shadow-soft: #D1D9E6;
    --box-shadow-deep: #F9F9F9;

    --van-tabs-nav-background: var(--van-background);

    --button-text-color: white;
}

* {
    padding: 0;
    margin: 0;
    color: var(--van-text-color);
}

body {
    height: 100dvh;
    width: 100dvw;
    background-color: var(--van-background);
}


button, button * {
    color: var(--button-text-color);
}
