:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;

    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;

    --shadow: .3rem .3rem .6rem var(--greyLight-2), -.2rem -.2rem .5rem var(--white);
    --inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2), inset -.2rem -.2rem .5rem var(--white);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-y: scroll;
    background: var(--greyLight-1);

    @media screen and (min-width: 900px) {
        font-size: 75%;
    }
}

body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--greyLight-1);
}

.lo-card {
    border-radius: 3rem;
    box-shadow: .8rem .8rem 1.4rem var(--greyLight-2),
    -.2rem -.2rem 1.8rem var(--white);
    padding: 4rem;
    align-items: center;
}

.lo-btn-primary, .lo-btn-secondary {
    width: 15rem;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;

    font-size: 1.6rem;

    /* 字体无法选中 */
    user-select: none;
    letter-spacing: 1rem;
}

.lo-btn-primary {
    background: var(--primary);
    box-shadow: inset .2rem .2rem 1rem var(--primary-light),
    inset -.2rem -.2rem 1rem var(--primary-dark),
    var(--shadow);
    color: var(--greyLight-1);

    &:hover {
        color: var(--white);
    }

    &:active {
        box-shadow: inset .2rem .2rem 1rem var(--primary-dark),
        inset -.2rem -.2rem 1rem var(--primary-light);
    }
}

.lo-btn-secondary {

    color: var(--greyDark);

    &:hover {
        color: var(--primary);
    }

    &:active {
        box-shadow: var(--inner-shadow);
    }
}